[2017-11-19 21:47] kbrandwijk opened #1 "Token missing in graphcool.yml"
The instructions specify using the 'main' token from the graphcool service. However, it's not specified in the service definition.

[2017-11-19 22:20] kbrandwijk opened #2 "Use bcryptjs instead of bcrypt"
Because of known issues with cross-platform deployment.

[2017-11-20 10:01] #1 closed

[2017-11-20 10:01] schickling commented on #1
Fixed.

[2017-11-20 10:08] #2 closed

[2017-11-20 10:08] schickling commented on #2
Fixed.

[2017-11-20 14:23] kbrandwijk opened #4 "Direnv doesn't work well on Windows"
I noticed the addition of .envrc. It really doesn't work well on Windows, if at all. Could I convince you to switch to dotenv, which works very well cross-platform?

[2017-11-21 09:40] schickling opened #5 "Add persisted queries"

[2017-11-21 10:42] schickling commented on #4
Done.

[2017-11-21 10:42] #4 closed

[2017-11-21 15:38] schickling opened #6 "Add REST API to example application"
Any ideas for which REST API to wrap in the context of Airbnb?

[2017-11-21 15:45] kbrandwijk commented on #6
Weather information, directions... Suggestion: https://www.npmjs.com/package/@n1ru4l/apollo-link-rest

[2017-11-21 16:09] schickling opened #7 "Replace implicit `collectTypeDefs` by explicit type importing"
See: https://github.com/graphcool/graphql-modules

[2017-11-22 17:52] kbrandwijk opened #8 "Can login with wrong password"
https://github.com/graphcool/graphql-server-example/blob/00028540edc49e57be6b44cbae324d91f551ce4d/src/resolvers/Mutation/account.ts#L42 returns a promise, so `!valid` is always `false`. It needs an `await`.

[2017-11-22 18:31] schickling commented on #8
Good catch. Fixed in #4d35252.

[2017-11-22 18:50] kbrandwijk opened #9 "Resolver for `addPaymentMethod` doesn't transform input arguments"
https://github.com/graphcool/graphql-server-example/blob/7b86ad6c761eee0d37a7f2bc419ddcef2a1499cc/src/resolvers/Mutation/addPaymentMethod.ts#L12

This passes in the arguments 'as is' to the underlying `createPaymentAccount` mutation, but that mutation requires `{ userId: ID!, creditcard: PaymentAccountcreditcardCreditCardInformation }`

I believe this line needs to be changed to `{ creditcard: arg

[2017-12-16 19:00] davidyin1212 opened #12 "Issue deploying to production"
When I following the instructions in the wiki Im getting the following error:
`Error:   data should NOT have additional properties
    at Output.error (/Users/davidyin/.nvm/versions/node/v8.9.1/lib/node_modules/graphcool/node_modules/graphcool-cli-engine/src/Output/index.ts:164:15)
    at Object.<anonymous> (/Users/davidyin/.nvm/versions/node/v8.9.1/lib/node_modules/graphcool/node_modules/graphcoo

[2017-12-16 19:15] marktani commented on #12
What's your `graphcool version`? 🙂
What do you mean when you say deploying to production?

[2017-12-16 21:29] schickling commented on #12
@davidyin1212 can you please try with the new `npm install -g graphcool@beta`?

[2017-12-17 11:46] marktani opened #13 "Update example to graphcool@beta"
Looks like example is not updated to `graphcool@beta` yet.

When I follow the instructions from the README:

[code]

I get this error:

![image](https://user-images.githubusercontent.com/1780597/34079128-720eec94-e327-11e7-977a-3c85f9260e34.png)

If I add `disableAuth: true` to `graphcool.yml` and run `graphcool deploy`, I receive another error:

me 'airbnb' and stage 'dev' found","requestId":"dep

[2017-12-17 13:35] kbrandwijk commented on #13
This is a bit of a transition situation. Do you really want this example to only work with the very early developer preview of 1.0?

[2017-12-17 14:07] marktani commented on #13
I was inferring that this example should be compatible with `graphcool@beta` from this thread: https://github.com/graphcool/graphql-server-example/issues/12

But you make a good point, maybe it's better to use this example to showcase the transition, so to make it compatible with the latest `graphcool@latest`.

[2017-12-17 14:13] kbrandwijk commented on #13
Maybe there could be a separate branch in this repo for the 1.0 version?

[2017-12-17 23:19] davidyin1212 commented on #12
that worked thanks

[2017-12-17 23:22] davidyin1212 commented on #13
I'm not sure if this is related but I can't seem to deploy changes in the src folder for instance I don't see any changes when I make changes to the schema.graphql or any of the resolvers

[2017-12-18 10:17] schickling commented on #13
This is fixed now, thanks for reporting @marktani.

@kbrandwijk while I agree with you that it would be nice to have this example for both 1.0 and the previous versions of Graphcool, it's not maintainable for us in terms of effort.

[2017-12-18 10:17] #13 closed

[2017-12-18 10:18] #12 closed

[2017-12-18 11:29] kbrandwijk commented on #13
Then at the least the readme has to be updated to clearly mention this only works with graphcool 1.0 beta.

[2017-12-20 10:05] marktani opened #14 "TypeError: Cannot convert undefined or null to object"
Following the steps from the `README` right until `yarn start` leads to the following error log:

[code]

My `graphcool` version: `graphcool/1.0.0-beta1.2.4 (darwin-x64) node-v8.3.0`

[2017-12-20 10:53] schickling commented on #14
This should be fixed now.

[2017-12-20 11:39] marktani opened #15 "graphcool deploy automatically deploys to shared cluster"
It should default to the local cluster instead.

[2017-12-20 11:44] marktani opened #16 "Provide better error message for refused connection"
[code]

My `localdatabase_graphcool-database_1` container is on port `60001` and not `60000`. We could return an error like

[2017-12-20 11:48] schickling commented on #15
This should be fixed in the coming days with a new `graphcool-cli` release.

[2017-12-20 13:39] marktani opened #17 "yarn seed doesn't work"
[code]

[code]

[2017-12-20 18:09] marktani opened #18 "update README"
* [x] it doesn't contain information on getting started (install `graphql-cli`/`graphcool`)
* [x] it should list a few example queries and mutations

Currently, it's difficult to know what do to.

A common error I saw is running `writePost` as your first operation, and mistakenly use a JWT that was signed with `GRAPHCOOL_SECRET` instead of the `JWT_SECRET`. In this case, the error message

[code]

[2017-12-29 17:56] marktani opened #24 "Hosted demo doesn't work"
[code]

results in

[code]

[2017-12-29 18:28] schickling commented on #24
Thanks for the report. The newest demo is online again.

[2017-12-29 18:28] #24 closed

[2018-01-01 12:51] #17 closed

[2018-01-03 19:26] marktani opened #41 "graphql playground doesn't open workspaces"
Instead, the default view is opened:

![image](https://user-images.githubusercontent.com/1780597/34536073-6a0113a6-f0c4-11e7-8fde-cae53d9a8e18.png)

### reproduction

[code]

[2018-01-03 19:44] marktani commented on #15
Fixed in https://github.com/graphcool/graphcool-server-example/commit/2d890315a6e7d367069e55eab509659ddbe51e56.

[2018-01-03 19:44] #15 closed

[2018-01-03 22:39] kbrandwijk opened #42 "single quotes around commands don't work on Windows"
This works on Windows:
[code]
This doesn't:
[code]

[2018-01-04 08:01] kbrandwijk commented on #9
Apparently, this was already fixed by other 1.0 changes.

[2018-01-04 08:01] #9 closed

[2018-01-04 08:02] #8 closed

[2018-01-04 08:03] kbrandwijk commented on #5
Will be implemented in `graphql-yoga`. Close.

[2018-01-04 08:04] kbrandwijk commented on #7
I believe this was already achieved by `graphcool-binding`/`graphql-import` now.

[2018-01-04 08:06] kbrandwijk commented on #41
@marktani  `yarn playground` just runs `graphql playground`. Can you move this issue to the `graphql-cli` repo?

[2018-01-04 08:07] kbrandwijk commented on #16
@marktani This should be addressed in `graphcool-binding`.

[2018-01-04 08:51] #5 closed

[2018-01-04 08:55] marktani commented on #41
This issue was moved to graphcool/graphql-playground#390

[2018-01-04 08:55] #41 closed

[2018-01-04 10:08] #16 closed

[2018-01-04 10:08] marktani commented on #16
Issue moved to [graphcool/graphcool-binding #43](https://github.com/graphcool/graphcool-binding/issues/43) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-04 10:16] schickling commented on #42
Urghh. Is there another way without escaping?

[2018-01-04 10:17] schickling commented on #5
See: https://github.com/graphcool/graphql-yoga/issues/55

[2018-01-04 10:17] #7 closed

[2018-01-04 19:43] c-riq opened #49 "Subselection not recognized"
I added this property to Home in https://github.com/graphcool/graphcool-server-example/blob/master/src/resolvers/Home.ts

[code]

And `perNight: Int!` to the Home type in schema.graphql

Then running this query in the playground

[code]

returns the error

[code]

but this query works as expected

[code]

[2018-01-04 20:05] marktani commented on #49
Thanks a lot for bringing this up! The reason is that the resolver itself assumes the existence of an `id` (you can see this in the first argument which is `{ id }`). So, if there is no `id` after all, an error is returned (the error message is not too helpful though).

You can solve this use case by providing a `fragment` option to the resolver object, which ensures that `id` is part of the query

[2018-01-04 20:05] #49 closed

[2018-01-05 09:53] schickling opened #53 "Feedback: Queries directory is confusing"
Thanks @rarkins for this feedback. Would be great to hear other suggestions.

[2018-01-05 09:59] marktani commented on #53
I think these should be part of the README instead.

Also see https://github.com/graphcool/graphcool-server-example/issues/18.

[2018-01-05 11:16] kbrandwijk commented on #42
I think there is, will try. I think `"nodemon -e ts,graphql ts-node -r dotenv/config src/index.ts"` should work too. I'll report back after testing.

[2018-01-05 19:29] c-riq opened #55 "Deeply nested mutation not working"
Neighbourhoods and cities are not created after deploying locally and running yarn seed and no error is logged to the terminal.

For example the "create ..." starting in line 33 here
https://github.com/graphcool/graphcool-server-example/blob/master/database/seed.graphql
does not seem to be executed properly.

Running the query in the console(http://localhost:5000/) yields the same problem.

[2018-01-05 19:44] sorenbs commented on #55
Thanks Chris!

We have identified the issue and will include a fix in the next beta release tomorrow.

[2018-01-05 23:08] #42 closed

[2018-01-06 20:52] pie6k opened #65 "There is some bug preventing from generating bindings for app itself"
Steps to reproduce

Modify `.graphqlconfig.yml` to:

[code]

Run `yarn prepare`

Expected: complie bindings for app schema

Actual: Error:
`TypeError: Cannot read property 'type' of undefined` when I've found out happens in `node_modules/graphql-static-binding/dist/generators/graphcool-ts.js:48:89`:

[code]

I was trying to dig a bit deeper but I then I had too little knowledge about project itsel

[2018-01-06 21:29] kbrandwijk commented on #65
I think the culprit is the extra `prepare-bundle` on the endpoint.
The config options are explained here: https://github.com/supergraphql/graphql-cli-prepare#graphql-config-extensions.
Also, the `app` schema is not a Graphcool schema. There is some stuff in the `graphcool-ts` generator that is Graphcool specific, so your decision to use `binding-ts` (the generic version) instead, was correct.

The

[2018-01-08 15:09] parweb opened #66 "How can I deploy in production with graph.cool ?"
I wonder how can I deploy this sample on graph.cool

I try this
`cd database`
`graphcool deploy`

but I ended with this error

 ▸    [WARNING] in /Users/parweb/Sites/ww/backend/database/graphcool.yml: A valid environment variable to satisfy the declaration 'env:GRAPHCOOL_STAGE' could not be found.

 ▸    [WARNING] in /Users/parweb/Sites/ww/backend/database/graphcool.yml: A valid environment variab

[2018-01-08 15:14] marktani commented on #66
Hey @parweb, what's your `graphcool version`? 🙂

[2018-01-08 16:07] parweb commented on #66
graphcool --version
graphcool/1.0.0-beta3.3.1 (darwin-x64) node-v8.4.0

[2018-01-08 18:58] marktani commented on #66
Thanks! We'll release a new beta release shortly that lets you use `graphcool deploy` from the root directoy, where `.env` is used (so you don't have to `cd database` first).

For now you could do

[code]

[2018-01-09 13:08] marktani commented on #55
This was fixed in the latest beta.

[2018-01-09 13:08] #55 closed

[2018-01-09 15:09] marktani opened #69 "now deployment"
* [ ] .env.prod is missing (Structure)
* [ ] replace with `up`?

[2018-01-13 18:26] schickling opened #72 "Use gothinkster/realworld as foundation"
The purpose of this repository is to act as a reference/real-world example of how a modern Node.js-based GraphQL can be built. So far the theme of this repository was to build a (simple) Airbnb-clone.

@jlengstorf brought up the idea to adopt the [gothinkster/realworld](https://github.com/gothinkster/realworld) model. I like this idea and would love to collect ideas around the architecture.

[2018-01-13 18:47] kbrandwijk commented on #72
Cool idea!

[2018-01-14 21:36] jlengstorf commented on #72
An easy way to make this portable would be to create the data sources as reusable packages. Obviously, I'm biased and think GrAMPS is the right way to go, but even if it went another way, portability and reusability will be pretty critical.

Once we have reusable data sources, we could quickly put together multiple back-ends:

- Apollo Server (I'm willing to be the @apollographql team would jump i

[2018-01-14 21:48] jferrettiboke commented on #72
It would be awesome to have the same example with GraphQL.js and DataLoader.

[2018-01-18 05:38] linhanyang opened #79 "ERROR: Whoops. Looks like an internal server error."
`yarn prisma deploy`

ERROR: Whoops. Looks like an internal server error. Search your cluster logs for request ID: cluster:cluster:cjck2cdwu0007015057b7x7tw

`
{
  "data": {
    "addProject": null
  },
  "errors": [
    {
      "message": "Whoops. Looks like an internal server error. Search your cluster logs for request ID: cluster:cluster:cjck2cdwu0007015057b7x7tw",
      "path": [
        "addPr

[2018-01-18 10:51] sorenbs commented on #79
Thank you for reporting @linhanyang

It looks like you are deploying a service without a name. The `prisma.yml` file specifies `aribnb-example` as the name https://github.com/graphcool/graphql-server-example/blob/master/database/prisma.yml

Did you change this?

[2018-01-18 11:37] linhanyang commented on #79
[code]

[2018-01-18 12:30] sorenbs commented on #79
Thanks!

Are you deploying to a local cluster? If so you can run `prisma local nuke` to reset local state as described in https://www.prismagraphql.com/docs/reference/clusters/local-cluster-si4aef8hee

If this doesn't help then we will need a little more information to help you :-)

[2018-01-19 10:34] terion-name opened #80 "Cannot return null for non-nullable field Home.avgRating"
Kikstart example, start dev server, try to run queries.

This works:
<img width="839" alt="2018-01-19 12 29 26" src="https://user-images.githubusercontent.com/1060205/35146802-cf14acce-fd14-11e7-9d53-ffd108f4b6a3.png">

This fails:
<img width="840" alt="2018-01-19 12 29 36" src="https://user-images.githubusercontent.com/1060205/35146813-d87f60a6-fd14-11e7-83d7-71afa3290cb7.png">

[code]

[code]

[2018-01-19 10:54] schickling commented on #80
Thanks for bringing this up. This is not yet implemented. @nikolasburk is looking into it. 👌

[2018-01-21 22:21] harrisrobin opened #82 "Now deployment fails at rm -rf dist && graphql prepare && tsc"
When I run
`yarn deploy`

I get the following error on now:
[code]

[2018-01-22 10:42] marktani commented on #82
This is caused by [an issue in `apollo-link`](https://github.com/apollographql/apollo-link/issues/419).

You can read more about the background and a workaround [in the Forum](https://www.graph.cool/forum/t/prisma-trying-to-deploy-to-now-and-getting-error/2179?u=nilan).

[2018-01-22 10:42] #82 closed

[2018-01-22 12:28] idkjs commented on #72
Happy to help if you want to guide me.

[2018-01-22 23:04] harrisrobin opened #85 "Custom resolvers are degrading performance dramatically."
I have hosted this repo and I found a pretty big performance issue I mentioned to @marktani over Slack. He then told me to make an issue.

https://entr-server.now.sh/
This is pretty much the same code, with a few custom resolvers added.

Prisma is hosted on the US shared cluster.
Graphql server is hosted on now.sh.

If you send the following query to the playground, you will notice things are fast

[2018-01-24 10:31] canadaduane opened #86 ""Your token is invalid""
After following the instructions in the readme, I have the Prisma server up and running in docker. When I visit http://192.168.99.100:4466/example-airbnb/dev as suggested, and before I attempt any queries, I see the following error:

[code]

[2018-01-24 10:55] marktani commented on #86
Access to a Prisma API is typically protected with a secret, entered in `prisma.yml`.
Using `prisma token`, you can generate a new token that can be used to access your Prisma API. Then, set this as the header object in the Playground:

[code]

Here's more information: https://www.prismagraphql.com/docs/reference/prisma-api/concepts-utee3eiquo#authentication.

I'm closing this issue, let me know i

[2018-01-24 10:55] #86 closed

[2018-01-25 16:11] nikolasburk commented on #69
We've added a [deployment section](https://github.com/graphcool/graphql-server-example#deployment) to the README that explains how to deploy the server with Zeit Now 🙌

[2018-01-25 16:11] #69 closed

[2018-01-25 19:04] marktani commented on #85
Your first query takes ~2 seconds for me. That should take _much_ shorter.

The demo endpoint is helpful for comfirming that queries take long, but it's difficult to say what happens "behind the scenes". I just did a bunch of tests with aggregation queries with my own service, and all of them had much better performance.

Did you try to connect directly to your Prisma endpoint and run the raw quer

[2018-01-25 19:23] schickling commented on #85
Currently `prisma-binding` doesn't make use yet of the dataloader pattern – which is a critical pending improvement (https://github.com/graphcool/prisma-binding/issues/7). This will most likely also negatively impact the current situation.

@harrisrobin can you confirm this just happens when using the hosted development cluster of Prisma and not when you're running Prisma locally? I suspect this t

[2018-01-25 19:30] harrisrobin commented on #85
@schickling you are correct. I can confirm that this does not happen in local.

### No custom resolver on local
[code]
<img width="692" alt="screenshot 2018-01-25 14 27 55" src="https://user-images.githubusercontent.com/3880008/35408139-060e0efc-01dc-11e8-9548-56f404fd6060.png">

###  with custom resolver on local
[code]

<img width="693" alt="screenshot 2018-01-25 14 29 24" src="https://user-imag

[2018-01-25 19:56] sorenbs commented on #85
One extra piece of information: I just tried to send an invalid query to your API. It should involve no db communication and thus should be really fast. A query from Berlin averages 800 ms for me, which is 2-3x what I would expect. Can you try to look at your now dashboard to verify that it is not getting frozen and unfrozen all the time?

This doesn't explain the increased latency when adding mor

[2018-01-29 15:54] maticzav opened #91 "Fragments not working - missing fields in root"
### Expected behaviour:
Fields defined in `fragments` are automatically prepended to `info` query.

### Actual behaviour:
Fields defined in `fragments` are not automatically prepended to `info` query, which causes certain resolvers to return wrong data.

### Recreation:
[code]

- `numRatings` is always zero, because `id` is undefined.

[code]

Example of `parent` log:
[code]

[2018-01-29 15:56] kbrandwijk commented on #91
Did you use `extractFragments`?

[2018-01-29 15:59] marktani commented on #91
[Yes](https://github.com/graphcool/graphql-server-example/blob/master/src/resolvers/index.ts#L26).

[2018-01-29 16:01] maticzav commented on #91
Yes, this is a copy of this example, with the only change in `console.log`.

[2018-01-29 16:03] maticzav opened #92 "Field must have a subselection"
Same as graphcool/prisma-binding#76

[code]

[code]

[2018-02-02 14:11] marktani commented on #91
Looks to be caused by this one: https://github.com/apollographql/graphql-tools/issues/605

[2018-02-03 14:20] timsuchanek commented on #85
Yes, in my example application that included exactly the use case you described, I could reduce the query time from 19s to 1.6s, while having multiple roundtrips from eu to us. Would be interesting to hear, if you also see performance gains :)

[2018-02-06 21:48] rafaelcorreiapoli commented on #79
Hi, i'm getting the same error
I've also tried to nuke the local cluster but the errors persists
The last part of the logs:
[code]

[2018-02-06 21:50] marktani commented on #79
Please share `prisma cluster logs` 🙂

[2018-02-08 06:41] lucas-bremond commented on #80
Any update of the topic? Does that mean that we cannot serve nested structures?

[2018-02-20 18:25] IvanGoncharov opened #107 "Demo server (https://airbnb.now.sh/) is broken"
I tried to execute the following query:
[code]
And got this error:
[code]

Playground URL: https://www.graphqlbin.com/v27EFW (don't work for me)

[2018-02-20 18:29] IvanGoncharov commented on #107
Also, it seems Playground feature is broken for this API.
I got following URL: https://www.graphqlbin.com/v27EFW
But then I opened it in browser I got:
![image](https://user-images.githubusercontent.com/8336157/36441929-c60c4228-167c-11e8-812f-1ef39e9301fb.png)

[2018-02-22 13:22] omaksi commented on #79
Had the same Internal Error on first `prisma deploy` attempt, `prisma local nuke` fixed the issue

[2018-02-22 18:16] nickluger opened #109 "Examples leak data - i can see what other users booked - or is this on purpose?"
For example, if i have a booking, i can see who else booked the same place and when. I can fetch their email, personal data etc.

[code]

Response

[code]
Hmm interesting, Karl will also be at Mushroom Dome!

This is a problem i ran into, not only in this server example, but also in my own and other peoples server code. As soon as we have cyclic model references, hiding data becomes very complex.

[2018-02-23 09:39] schickling commented on #109
Hi @nickluger. Thanks for bringing this up. You're right, the permission setup is not yet fully implemented. Would be great if someone would like to take a stab at this - maybe based on [graphql-shield](https://github.com/maticzav/graphql-shield)?

[2018-02-23 14:02] maticzav commented on #109
@schickling, I am on it!

[2018-02-25 00:10] stevethecollier commented on #79
updated documentation url:
https://www.prismagraphql.com/docs/reference/clusters/docker-aira9zama5

[2018-02-26 12:13] nikolasburk commented on #107
Thanks for pointing this out Ivan, it's now fixed 👍

[2018-02-26 12:13] #107 closed

[2018-02-27 10:46] schickling commented on #80
This is now implemented. @lucas-bremond can you confirm this solves the problem for you?

[2018-02-27 10:46] #80 closed

[2018-02-27 11:46] schickling commented on #91
@marktani I think this is a different issue.

@maticzav can you confirm this is still a problem for you? We've recently introduced some bug fixes around this topic.

[2018-02-27 20:45] maticzav commented on #91
@schickling seems like it's working now! Great job 🙂

[2018-02-27 20:45] #91 closed

[2018-02-28 09:18] schickling commented on #66
I assume this is fixed with the introduction of `prisma`. Please add a comment if you're still seeing problems with this. 🙏

[2018-02-28 09:18] #66 closed

[2018-03-05 09:58] marktani opened #134 "Add demo to README"
https://airbnb.now.sh

[2018-03-05 09:59] marktani commented on #92
Can confirm! Note that this query works:

[code]

[2018-03-05 10:17] marktani commented on #79
I'm closing this for now, as it seems resolved. Please open a new issue if you have a similar problem. Thanks!

[2018-03-05 10:17] #79 closed

[2018-03-05 10:18] #18 closed

[2018-03-05 10:58] maticzav commented on #92
@marktani @schickling this has actually been resolved with `fragments` fix since the `id` is automatically included - creating a subselection. To conclude, this works:

[code]

[2018-03-05 10:58] #92 closed

[2018-03-05 11:00] marktani commented on #92
Here are some observations:

* In [the Home resolver](https://github.com/graphcool/graphql-server-example/blob/dd4233149932e69463c811f9827fb524efe455d7/src/resolvers/Home.ts#L6) we are actually already adding the `fragment` statement, which should ensure that this error doesn't appear. It seems that `graphql-tools` is not correctly considering `fragment` of _nested resolvers_. Resolver chain in th

[2018-03-05 11:00] marktani commented on #92
@maticzav nice! 😄Do you know which commit in which package fixed this?

[2018-03-05 17:35] maticzav commented on #92
@marktani no, sorry, I just noticed it at some point in the Slack discussion. 🙈

[2018-03-09 20:06] marktani opened #139 "https://airbnb.now.sh/ does not work - Project not found: 'demo~prisma-airbnb-example@prod'"
https://airbnb.now.sh/

[2018-03-10 02:22] lorensr opened #140 "Example Prisma API"
Might be helpful to have an example GraphQL Playground linked from the Prisma homepage, to show what a generated Prisma endpoint looks like, with filtering, sorting, pagination. More hands on than reading through https://www.prismagraphql.com/docs/reference/prisma-api/queries-ahwee4zaey

When deciding whether I'm going to use something, I want to see/interact with the API. Eg with Firebase, I had

[2018-03-10 11:26] schickling commented on #140
That's a great point @lorensr. We'll add something to the current website shortly and will more deeply embed it in the next website iteration! @nikolasburk will be looking into it. :)

[2018-03-20 15:34] acadabus commented on #80
и шо?

[2018-04-01 20:41] Cloud887 opened #154 "Error on Git Clone"
[code]

[2018-04-02 06:17] schickling commented on #154
This seems to be an issue with your local git setup. Please try to follow [these instructions](https://help.github.com/articles/error-permission-denied-publickey/) or try to clone via `https`.

[2018-04-02 06:17] #154 closed

[2018-04-16 11:02] idkjs opened #165 "running project with js error"
I've stripped out the ts and replaced with js but cant get index.js to read them i think.

After running `prisma deploy` and then `yarn dev` i'm getting the following error:

[code]
[This](https://github.com/idkjs/airbnb-server/blob/57841cc83cb379918edb7fe9f06d5b2b9fc14018/src/index.js#L5) is index.js. Error is on const server on line 5.
[code]

Any idea on what is going on here?

[graphqlconfig.y

[2018-04-16 12:57] idkjs commented on #165
figured it out. working repo is https://github.com/idkjs/graphql-server-example

### [Converting from typescript to js](https://github.com/idkjs/graphql-server-example#converting-from-typescript-to-js)

1.  First change all file names to js then remove any typings. vscode will tell you where they are in problems tab.

2.  deps: `yarn add babel-cli babel-preset-env babel-plugin-transform-object-res

[2018-04-16 12:57] #165 closed

[2018-04-19 10:16] phil-warner commented on #14
@schickling can you let us know what your fix was please? I'm getting the same error in my own graphql implementation, but there's not enough indication of what the problem is.

[2018-04-24 19:33] thebetterjort opened #176 "Frontend Example?"
Does this have a frontend?

[2018-04-26 14:54] schickling commented on #176
Not yet but we're planning on extending this example project. Anyone who's interested in helping out with this, please chime in! 🙏

[2018-04-28 15:36] overpod commented on #140
It is very difficult for me with a working project because of this

[2018-05-09 07:58] cailongHuang opened #197 "Command error： "yarn prisma deploy""
yarn prisma deploy
yarn run v1.5.1
$ prisma deploy
warning prisma.yml: "cluster", "service" and "stage" are deprecated and will be replaced with "endpoint".
To get the endpoint, run prisma info. Read more here: https://bit.ly/migrate-prisma-yml

Creating stage dev for service prisma-airbnb-example !

ERROR: GraphQL Error (Code: 405)

{
  "error": "HTTP method not allowed, supported methods: GET",

[2018-05-10 15:24] marktani opened #199 "Upgrade to latest Prisma version"
Prisma version 1.7 introduced a couple of bigger changes that should be reflected in this example.

[2018-05-10 15:25] marktani commented on #197
Hey @cailongHuang, this example is currently designed for `prisma@1.6.3` but it looks like you are using a more recent CLI version. We'll upgrade the example soon, please follow https://github.com/graphcool/graphql-server-example/issues/199 🙂

[2018-05-10 15:25] #197 closed

[2018-05-10 15:33] schickling commented on #199
Fixed.

[2018-05-10 15:33] #199 closed

[2018-05-16 00:12] anodynos opened #209 "Duplicated model files"
The files `src/schema.graphql` & `prisma/datamodel.graphql` have duplicated information - is one of them auto-generated?

It would be a good idea to:
-  put generated files in one `generated` directory OR at least mention it in the first line as comment
AND
-  add them to .gitgnore (actually `src/generated` is NOT `.gitignore` either)

[2018-05-24 23:48] schickling commented on #209
Thanks a lot for opening this issue. Can you point me to exactly the types you think are duplicated?

[2018-05-25 06:41] cailongHuang opened #219 "MySQL Example"
Could you write an example of MySQL, please?

[2018-05-26 00:51] schickling commented on #219
Hi @cailongHuang! This example already supports MySQL through Prisma – which is the easiest, fastest and most efficient way to build a GraphQL server using a MySQL database.

[2018-05-26 00:51] #219 closed

[2018-05-28 00:49] cailongHuang commented on #219
This example is postgres example.

[2018-05-30 12:33] darmie commented on #14
I am getting this error, urgent fix please

[2018-05-30 19:50] schickling commented on #14
Sorry for the confusion. This is a very old issue but I'm happy to re-open it to investigate further. @phil-warner @darmie can you provide us with a minimal reproduction of your problem? We'll look into it asap.

[2018-05-31 14:23] darmie commented on #14
@schickling  I have fixed it by updating all my project dependencies to the latest

[2018-06-01 08:38] phil-warner commented on #14
In my case, I hadn't defined one of the types in my schema. Hope that helps someone else. @schickling thanks for the attention.

[2018-06-05 09:32] #14 closed

[2018-06-13 09:09] kuronaru opened #241 "Help setting up"
i wanna setup and try to deploy the app in Prisma service, so i ran `yarn prisma deploy`

i uncomment the `endpoint` part for now in `prisma.yml` and the `prisma deploy` setup console is displayed and i just pressed Enter to proceed.
at the end of the script, i encountered this error:

[code]

hope someone can help me here.
thanks :)

[2018-06-13 09:21] marktani commented on #241
Hey @kuronaru, this problem is fixed on the latest `beta` version.

You can run `prisma seed` right now to seed and continue working with the example as expected 🙂

[2018-06-13 10:34] kuronaru commented on #241
@marktani cool, thanks for that.

[2018-06-13 10:34] #241 closed

[2018-07-01 22:41] agustif commented on #176
@schickling I am!

This would be a perfect first-issue for me, since I'm already building an AirBnB clone on prisma but for cruises hahaha!

I would like to use Next, would you rather see a more vanilla creat-react-app example first?

[2018-07-04 15:49] heymartinadams commented on #92
Having a similar issue with this mutation:

**mutation**
[code]

**Error message**
[code]

**Resolver**
[code]

**prisma.graphql**
[code]
**schema.graphql**
[code]

[2018-07-04 16:12] maticzav commented on #92
prismagraphql/prisma-binding#76

[2018-07-05 15:07] prosenjitchy opened #259 "ERROR: Whoops, Looks like an internal server error"
Getting error when `prisma deploy`

[code]
Tried also `prisma local nuke`. But error showing continuously.

**UPDATE**: my `docker-compose logs` is showing:
[code]

[2018-07-08 18:06] prosenjitchy commented on #259
The error log with a request ID of `local:management:cjj8ok4ey000208461zdt8zte` is saying, `java.sql.SQLIntegrityConstraintViolationException: (conn=273) Duplicate entry 'default@default' for key 'PRIMARY'`. This is occurred cause I dropped all tables of both DB for Prisma and Graphql in my MySQL server. One of the primary key is getting duplicate entry during the mutation process of prisma deploy

[2018-07-08 18:06] #259 closed

[2018-07-09 10:03] harrisrobin opened #262 "Explanation of Viewer"
Hi,

I am a bit confused by Viewer in this example.

First of all, why is this necessary:
https://github.com/prismagraphql/graphql-server-example/blob/800506efcacb15c2e16bdb6d5a42ea275070a095/src/resolvers/Query.ts#L6

It seems to be doing nothing, yet if i look at schema.graphql [here](https://github.com/prismagraphql/graphql-server-example/blob/211ff92da111062fde08583e122687aa30c8d0ed/src/schema

[2018-07-11 11:01] tomitrescak commented on #79
Hi, where can I actually check that error?

[code]

[2018-07-11 12:01] tomitrescak commented on #79
Thanks. Noted!

[2018-07-11 12:16] tomitrescak opened #264 "Cannot delete a field with relation to scalar (simple type) array."
Hi, asked this question as well in the [forum](https://www.prisma.io/forum/t/cannot-delete-a-field-in-the-database-with-relation-to-string-array/3956), but to me this seems as a bug.

I have a type with a string array field

[code]

Prisma generates the Notification_params table.

I have an issue deleting notification as I am receiving server error:

[code]

Shouldn't these array fields be deleted

[2018-07-17 12:03] heymartinadams commented on #49
Yes, @marktani, a more specific error message would be helpful  🙌🏼

[2018-07-25 10:35] daveols commented on #109
Hey @schickling, @maticzav,

Has there been any progress with this one? I've encountered a similar issue with a project I'm working on.

It'd be super useful for us GraphQLNoobs to see how to mask certain fields at arbitrary query depths given some permissions. In this example it would involve removing the "bookings" field from place or perhaps limiting the selection on the relation to specified p

[2018-08-02 14:48] captDaylight opened #283 "Demonstrate update and delete mutations"
I'm currently trying to learn how to do this and would love if this could show how to update and delete nodes.

[2018-08-20 07:18] simonjoom opened #298 "apollo-server 2"
what about apollo-server 2 to integrate instead of yoga?
i just used it for my app and it's working with upload things... there is some stuff that apollo-server 2 won't manage ?

[2018-08-29 04:55] nickluger commented on #109
One can also introduce two different data models `PublicBooking` and `Booking`, where the first one hides certain fields, among those, `bokee`. So i can use `PublicBooking`s to e.g. determine availability of a place and use `Booking` for example in my own profile or an admin view. Then you use `graphql-shield` to restrict access to those queries and mutation that use the `Booking` type.

We are us

[2018-08-29 05:26] daveols commented on #109
I considered that approach too @nickluger. It is beneficial in terms of being a more accurate representation to the client via introspection. My thoughts on the potential downsides:
- You duplicate schema definitions possibly multiple times for different access levels
- You need to rewrite custom resolvers for the common fields between the types you are duplicating
- You are limited to exposing ju

[2018-09-14 08:39] nickluger commented on #109
Hey @daveols , thanks for the thoughts on the multi-data-model approach.

You're right on that. This would be extremly redundant and complex if you have a certain level of granularity.

Also, there is currently another,  severe, issue with my approach:

- You cannot use fragments (!) with Prisma currently if you rename the model: https://github.com/graphql-binding/graphql-binding/issues/67

I'm wi

[2018-09-15 02:33] nickluger commented on #109
I strongly support the 2nd approach suggested by @daveols, using `graphql-shield`. The multi-model approach has another disadvantage, if you use Prisma - you cannot use fragments on the client any longer!

See here: https://github.com/graphql-binding/graphql-binding/issues/67

The 1st approach has the disadvantage of mingling resolvers with imperative authorization code, as described here https://

[2018-09-16 14:53] jackblackCH commented on #134
+1 a running airbnb demo app would be nice.

[2018-09-18 13:30] abhiaiyer91 commented on #298
Hi @simonjoom we plan to upgrade this reference implementation with Apollo Server 2 soon

[2018-09-22 06:17] lukehamilton opened #348 "TypeScript Compile Issue"
I keep running into the following and can't get the project running :(
[code]

[2018-09-25 07:52] lnmunhoz commented on #91
@maticzav I can't get this working. What package versions are you using?

[2018-09-25 08:01] maticzav commented on #91
Hey @lnmunhoz 👋,

I am using GraphQL Yoga 1.16.2. If you make a reproduction repo, I can help you figure this out! 🙂

[2018-09-28 21:52] CristhianParra commented on #348
Same here!

[2018-09-29 14:03] PinkyJie commented on #348
same error for me

[2018-09-29 17:00] abhiaiyer91 commented on #348
Looking into this now

[2018-09-29 17:36] abhiaiyer91 commented on #348
Alright, this should be resolved!

[2018-10-01 16:55] abhiaiyer91 commented on #209
This reference implementation now uses Prisma Client

[2018-10-01 16:55] #209 closed

[2018-10-06 23:15] voordev commented on #176
Frontend would be very interesting..
Perhaps a simple frontend that demonstrates (some basic data loading examples ) in( Reac )t could be added.

[2018-10-06 23:55] voordev commented on #109
Just a very blant remark, this does mean that you cannot currently implement prisma for a production application... or is there a concrete solution soon to be released.
I ask this question since im evaluating this project vs other solutions like graphile.

[2018-10-07 05:03] nickluger commented on #109
We're using the solution suggested by @daveols now, succesfully for a production app. You could try that, too.

[2018-10-07 07:15] abhiaiyer91 commented on #109
@voordev this by no means that prisma is not ready for a production application. Just means we need to add this to this implementation. We’ll add some shield soon

[2018-10-09 23:32] abhiaiyer91 commented on #348
What is the TS compile error you are receiving?

[2018-10-09 23:36] plmercereau commented on #348
[code]
I am a bit confused in the new resolvers generators, with the things around Xyz types and XyzParent interfaces, but I guess the error may be related to this

[2018-10-11 07:05] chanlito opened #368 "A question on the resolver usage of `parent`"
Using the following snippet as example, I know that `numRatings` implementation is necessary, but isn't the rest a little bit overkill?

Do we really need to assign each field of the parent?

<img width="489" alt="screen shot 2018-10-11 at 1 56 14 pm" src="https://user-images.githubusercontent.com/15667259/46786154-3b481600-cd5e-11e8-825a-5846e28a7b56.png">

[2018-10-15 19:39] schickling commented on #368
Yes, you're totally right @chanlito. We'll update this soon with the latest version of `graphqlgen`.

[2018-10-20 12:15] sapkra commented on #368
@schickling Do you know when the project will be updated to `graphqlgen `?

[2018-10-23 15:54] mikepuglisi commented on #348
Same problem. Can't run this project due to typescript compilation error

`
   return new TSError(diagnosticText, diagnosticCodes)
           ^
TSError: ⨯ Unable to compile TypeScript:
src/resolvers/Query.ts(8,3): error TS2322: Type '(_parent: QueryParent, _args: {}, ctx: Context) => Promise<ExperienceNode[]>' is not assignable to type '(parent: QueryParent, args: {}, ctx: Context, info: GraphQLRe

[2018-10-23 16:47] abhiaiyer91 commented on #348
Will be fixed here https://github.com/prisma/graphql-prisma-typescript/pull/376

[2018-10-24 15:29] plmercereau commented on #348
Awesome!

[2018-11-08 23:27] kevineger opened #394 "Unable to run "yarn prisma deploy" - Fails on post deploy hooks"
[code]

Note `prisma deploy` (without yarn) succeeds on the post deploy steps. However, in both cases when viewing the Prisma playground, the schema does not load (loading icon spins) and the application playground states `"error": "Failed to fetch schema. Please check your connection"`

I noticed that after hitting the playground url, there's a TypeScript compile error?

[code]

[2018-11-28 07:06] Anujraval24 opened #421 ""errors": [ { "message": "Cannot return null for non-nullable type }]"
[code]
in graphcool logs the id shows undefined
i am doing mutation mutation{

[code]

signup.graphql
[code]

any solution on this @marktani @schickling

[2018-12-17 10:34] tzjoke opened #437 "subscription confusion"
Hi, I want to refactor my app with ts and i am quite confused with the subscription described in this example. I am used to using `subscribe` and `resolve` in subscription, like below:

[code]

And in this example it is like

[code]

Can someone explain the flow here? Thanks in advance.

[2019-01-03 09:07] yuemeTM opened #447 "Node of Subscription is always null"
I set up a subscription like this:

`import { Context } from '../utils'

export const Subscription = {
  deviceData: {
    subscribe: async (parent, args, ctx: Context, info) => {
      return ctx.db.subscription.deviceData({ where: args.where })
    }
  }
}`

Node is always null in CREATED mutation. I can not get my data in that result.

`{
  "data": {
    "deviceData": {
      "mutation": "CREAT

[2019-01-28 15:13] Mercurial opened #476 "some Subscription FILTER like node : { field_some: {} } aren't exposed but works in Typescript Client Lib"
https://github.com/prisma/prisma/issues/3942

[2019-01-28 23:40] Mercurial opened #477 "Dummy Update not working in TypeScript"
![image](https://user-images.githubusercontent.com/585569/51873647-fc83ad80-2398-11e9-87d9-92c29fd2ba90.png)
 according to docs I should be able to do something like this

but it seems Typescript Client won't allow it

![image](https://user-images.githubusercontent.com/585569/51873682-1fae5d00-2399-11e9-826c-307125fd0ab2.png)

[2019-02-21 22:12] lemontreeran opened #506 "Dependency Issues"
Hi,

There are dependency issues while doing `yarn install`. It is mainly because of the graphql-yoga dependency.
yarn install v1.13.0
[1/4] 🔍  Resolving packages...
[2/4] 🚚  Fetching packages...
info There appears to be trouble with your network connection. Retrying...
info There appears to be trouble with your network connection. Retrying...
info There appears to be trouble with your network con

[2019-03-06 01:55] gagan0723 opened #518 "[Error] Running yarn dev"
When running `yarn dev` there seems to be an error with `graphql` version.

[code]

[2019-03-29 21:10] gagan0723 commented on #518
Can not reproduce this with the head at master since updates.

[2019-03-29 21:10] #518 closed

[2019-04-12 05:18] Fabiomad85 commented on #86
I have this problem with the prisma generated client.
Enviroment variabile are fine, I double checked. From app.prisma.io I have the same problem too. any ideas? Thank you

[2019-04-17 15:20] jnak opened #556 "Multiple instances of "graphql""
On a fresh install, I get this error when running `yarn dev`:

[code]

I suspect this is because `renovate-bot` automatically upgrades dependencies and there are no tests setup in this repo.

[2019-04-17 15:26] jnak commented on #556
FYI I reverted to https://github.com/prisma/graphql-prisma-typescript/commit/2d4994cec0b5c0b4f3c5ff1d0372dd0e1cea166f and it seems to work fine. I had to use `npm install` thought because `yarn` was failing:
[code]

[2019-06-12 17:35] bryanPosiq opened #581 "s"

[2019-07-23 18:30] Sampite commented on #437
Hey man, have you figured it out ? I'm refactoring my graphql server code to use typescript and I decided to use the same way as this app, but I can't get the subscriptions to work.

[2020-04-18 22:18] #421 closed

[2021-06-11 10:38] mallikarjuna-sharma commented on #259
prisma delete .. can delete the prisma service and then it can be re created using prisma deploy this helped me

[2022-02-23 05:34] KevinKra opened #636 "Incomplete solution for handling circular references when testing"
[Here is the repo I created (based off of the Prisma docs)
](https://github.com/KevinKra/prisma-test-debug-example)
I've been having difficulty trying to get tests passing per the resources provided [in the docs](https://www.prisma.io/docs/guides/testing/unit-testing). There is a reference to resolve the circular reference issue appearing for the context (and maybe also singleton) solutions. Howev

[2022-02-23 06:32] KevinKra commented on #14
make sure you are exporting the default version of the client as well. For some reason named exports result in the above error.

[code]